google-generativeai==0.1.0rc1

langchain==0.0.354
langchain-community==0.0.20

chromadb==0.4.24

sentence-transformers==2.2.2

pymupdf==1.24.9
pdfplumber==0.11.4

pytesseract==0.3.10

Pillow==10.4.0

python-dotenv==1.0.1

numpy==1.26.4
pandas==2.0.3
tensorflow==2.17.1
tf-keras==2.17.0
opencv-python-headless<5
h5py>=3.10,<3.13

scikit-learn==1.3.2